*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: #cce0ff;
    color: #000;
}

body
{
    overflow-x: hidden;
}

/* .webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
} */

.container {
    height: 0vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
}

.button
{ 
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
	position:fixed;
	width:80px;
	height:20px;
	cursor:pointer;
	background-color: #9875D3;
	padding:5px;
	text-align:center;
	color:white;
  margin-right: 10px;
  box-shadow: 5px 3px 3px #5429c2;
}
#button1 { 
	right: 20px;
	top: 20px;
}
#button2 { 
	right: 20px;
	top: 80px;
}
#button3 { 
	right: 20px;
	top: 140px;
}

.keybutton
{
  box-shadow: 5px 3px 3px #5429c2;
	position:fixed;
	width:20px;
	height:20px;
	cursor:pointer;
	background-color: #9875D3;
	padding:5px;
	text-align:center;
  border-radius: 5px;
	color:white;
}
#w_button { 
	right: 100px;
	bottom: 100px;
}
#a_button { 
	right: 150px;
	bottom: 50px;
}
#s_button { 
	right: 100px;
	bottom: 50px;
}
#d_button { 
	right: 50px;
	bottom: 50px;
}
#space_button {
	width:80px;
	height:20px;
	left: 50px;
	bottom: 50px;
}

.camerabox {
    grid-area: camerabox;
    width: 25%;
    min-width: 200px;
    top: 0.5rem;
    left: 0.5rem;
    height: 25%;
    border: 1px solid black;
    display: block;
    position:fixed;
    overflow:auto;
  }
  
  #received_video {
    width: 100%;
    height: 100%;
    position:absolute;
  }
  
  /* The small "preview" view of your camera */
  #local_video {
    width: 25%;
    min-width: 70px;
    height: 30%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 4px black;
  }
  
  /* The "Hang up" button */
  #hangup-button {
    display:block;
    width:80px;
    height:24px;
    border-radius: 8px;
    position:relative;
    margin:auto;
    top:calc(100% - 40px);
    background-color: #956cfd;
    box-shadow: 3px 2px 2px #5429c2;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: white;
    cursor: pointer;

  }
  
  #hangup-button:hover {
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
  }
  
  #hangup-button:disabled {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    cursor: default;
  }
